@using E_Shop.Models
@using E_Shop.SeoUrl
@model Product_Category_Model
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout3.cshtml";
}


@*@if (ViewBag.message!=null)
{
    <h1>Hoşgeldiniz: @ViewBag.message</h1>
}*@

@if (TempData["message"]!=null)
{
    <div class="alert alert-info d-none d-lg-block">@TempData["message"]</div>
}
<section id="slider">
    <!--slider-->
   @await Component.InvokeAsync("SliderList")
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            
            @*@Html.Partial("_CategoryPartialView",Model)*@

            @*Kategorileri component ile çektik-dynamic Partialview de kullanabilirdik*@
            @await Component.InvokeAsync("CategoryList")
           
           @* @await Html.PartialAsync("_CategoryPartialView")*@
           @* <partial  name="_CategoryPartialView"/>*@
           
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">ÜRÜNLERİMİZ</h2>
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">

                                        <a href="/Product/Details/@item.Id/@(Seo.AdresDuzenle(item.Name))"><img src="~/Images/@item.Image" width="65" height="110" alt="" /></a>
                                        <h2>@item.Price</h2>
                                        <p>@item.Name</p>
                                        <a href="/Product/Details/@item.Id/@(Seo.AdresDuzenle(item.Name))" class="btn btn-default add-to-cart">Ürün Detay</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    }
                    <product2-list-pager current-page="@ViewBag.CurrentPage" current-category="@ViewBag.CurrentCategory" page-count="@ViewBag.PageCount" page-size="@ViewBag.PageSize"></product2-list-pager>

                    @*@Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.Classic)*@



                </div><!--features_items-->
                @*Popüler ürünleri component ile çektik-dynamic Partialview de kullanabilirdik*@
                @await Component.InvokeAsync("ProductPopular")
                @* @Html.Action("PopularProduct", "Product")*@

            </div>
        </div>
    </div>
</section>

